/* @group Introduction */
#intro {margin: 1em 0 0 0;}
#intro h1 {text-align: center;}
/* @end */

/* @group Alfred Dialog */
#alfred {color: rgba(225, 222, 222, 1); background-color: rgba(92,0,2,1); border: 0.8em solid rgba(0,0,0,0.70); -moz-background-clip: padding; -webkit-background-clip: padding; background-clip: padding-box; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; border-radius: 0.5em;}
.item {font-size: 2em; padding: 0.1em; margin: 0 0.5em; background-color: rgba(92,0,2,1); border-top: 0.1em solid rgba(0,0,0,1);}
.item:last-child {border-bottom: 0.1em solid rgba(92,0,2,1); margin-bottom: 0.5em;}
.search {background-color: rgba(30, 20, 20, 1); margin: 0.5em; padding: 0.2em 0.5em 0.3em 0.5em;}
.result {float: left; margin: 0 0 0 0.2em;}
.subtext {color: rgba(173, 167, 167, 1); font-size: 0.5em;}
.selected {background-color: rgba(141, 23, 20, 1);}
.shortcut {float: right; color: rgba(167, 21, 18, 1); text-align: center;	width: 1.6em;	margin: 0.5em 0.3em 0 0;}
.selected .shortcut {color: rgba(255, 255, 255, 1);}
.divider {background-color: rgba(0,0,0,1);}
/* @end */
